<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<title>Group Formation Tool</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<ul lang="en" th:replace="fragments/login-header :: login-header"></ul>

	<div class="container">
		<h1>Login</h1>
		<hr style="border-top: 1px solid" />
		<form th:action="@{/profile/login}" method="post">
			<div class="form-group row">
				<label class="col-sm-2">Email</label> <span class="col-sm-4">
					<input type="email" name="username" id="username" required/>
				</span>
			</div>
			<div class="form-group row">
				<label class="col-sm-2">Password</label> <span class="col-sm-4">
					<input type="password" name="password" id="password" required/>
				</span>
			</div>
			<div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
		<br />
		<br />
		<div>
			<a th:href="@{/profile/forgot}">Forgot Password?</a><br /> <a
				th:href="@{/profile/signup}">Don't have an account? Register
				here!</a>
		</div>
		<div th:if="${param.error}">
			<h2 style="color: red;">Invalid Credentials</h2>
		</div>
		<div th:if="${param.logout}">
			<h2 style="color: green;">Logout Successful</h2>
		</div>
	</div>
</body>