<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      }

      .material-icons {
        display: inline-flex;
        vertical-align: middle;
      }

      .material-icons.md-blue {
        color: rgb(0, 118, 255);
      }
    </style>

    <title>TA Assigned</title>
  </head>

  <body>
    <div style="margin-top: 50px; display: inline-block;">
      <i style="font-size: 48px;" class="material-icons md-light"
        >check_circle</i
      >

      <h2>
        Congratulations, you assigned new TA for the course!
      </h2>

     <form action="#" th:action="@{/course-admin}" method="POST">
       <input
         type="hidden"
         name="id"
         id="id"
         th:value="${id}"/>

      <input
		type="hidden"
        name="name"
        id="name"
        th:value="${name}"/>

       <input
         type="hidden"
         name="code"
         id="code"
         th:value="${code}"/>
     
      <button
        style="
          margin-top: 20px;
          border-radius: 5px;
          background-color: rgb(0, 118, 255);
          border-width: 0px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: white;
        "
      >
        <i class="material-icons md-light">settings</i>
        <b>Back to Course Admin</b>
      </button>
	</form>
    </div>
  </body>
</html>
