<ul th:fragment="login-header"
	class="bg-dark nav-ul-user navbar navbar-dark">
	<li class="nav-li-user"><a class="nav-btn app-title"
		th:href="@{/}">Group Formation Tool</a></li>
	<link rel="stylesheet"
		href="https://fonts.googleapis.com/icon?family=Material+Icons" />

	<link href="../../static/course.css" th:href="@{/course.css}"
		rel="stylesheet" />

	<link
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		rel="stylesheet"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
		crossorigin="anonymous">
</ul>
