<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Error occurred</title>
</head>

<body>
<ul lang="en" th:replace="fragments/login-header :: login-header"></ul>

<div style="text-align: center;">

    <img style="margin-bottom: 10px" src="https://media.giphy.com/media/nVTa8D8zJUc2A/giphy.gif">

    <div th:if="${errorCode == 404}">
        <h1>Webpage not found</h1>
    </div>

    <div th:if="${errorCode == 500}">
        <h1>
            Sorry for the inconvenience, there might be some problem at our end
        </h1>
    </div>

    <div th:if="${errorCode == 403}">
        <h1>You are not authorized to view this webpage</h1>
    </div>

    <div th:if="${errorCode == 405}">
        <h1>Your request seems to be invalid, please go back to homepage</h1>
    </div>

    <hr/>

    <div>
        <h2>Error Code: <span th:text="${errorCode}"></span></h2>
    </div>

    <a href="/">Visit homepage</a>
</div>
</body>
</html>
