<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}

#courses {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#courses td, #courses th {
	border: 1px solid #ddd;
	padding: 8px;
}

#courses tr:nth-child(even) {
	background-color: #f2f2f2;
}

#courses tr:hover {
	background-color: #ddd;
}

#courses th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(0, 118, 255);
	color: white;
}
</style>



<title>Guest Page</title>
</head>

<body>
	<ul lang="en" th:replace="fragments/user-header :: user-header"></ul>
	<div style="margin-top: 20px;">
		<div style="text-align: center;">
			<h2>List of Courses</h2>
		</div>

		<div style="padding-left: 5%; padding-right: 5%; margin-top: 20px;">
			<table class="table table-bordered" id="courses">
				<thead>
					<tr>
						<th>Course Code</th>
						<th>Course Name</th>
					</tr>
				</thead>

				<tbody>
					<tr th:if="${courses.empty}">
						<td colspan="2">No users found</td>
					</tr>

					<tr th:each="course : ${courses}">
						<td><span th:text="${course.courseCode}"> Course Code
						</span></td>
						<td><span th:text="${course.courseName}"> Course Name
						</span></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
