<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<style>
body {
	font-family: Arial, Helvetica, sans-serif;
}

#courses {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#courses td, #courses th {
	border: 1px solid #ddd;
	padding: 8px;
}

#courses tr:nth-child(even) {
	background-color: #f2f2f2;
}

#courses tr:hover {
	background-color: #ddd;
}

#courses th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: rgb(0, 118, 255);
	color: white;
}
</style>

<title>Home</title>
</head>

<body>
	<ul lang="en" th:replace="fragments/user-header :: user-header"></ul>
	<div th:if="${!studentCourse.empty}" style="margin-top: 20px;">
		<div style="text-align: center;">
			<h2>List of Courses enrolled as Student</h2>
		</div>

		<div style="padding-left: 5%; padding-right: 5%; margin-top: 20px;">
			<table id="courses">
				<thead>
					<tr>
						<th>Course Code</th>
						<th>Course Name</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:each="course : ${studentCourse}">
						<td><span th:text="${course.courseCode}"> Course Code
						</span></td>
						<td><span th:text="${course.courseName}"> Course Name
						</span></td>
						<td>
							<form method="POST" th:action="@{/student-home}">
								<input type="hidden" name="name" id="name"
									th:value="${course.courseName}" />

								<button type="submit" name="submit" value="value"
									class="link-button">View Course</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div th:if="${!instructorAndTaCourse.empty}" style="margin-top: 20px;">
		<div style="text-align: center;">
			<h2>List of Courses enrolled as Instructor/TA</h2>
		</div>

		<div style="padding-left: 5%; padding-right: 5%; margin-top: 20px;">
			<table id="courses">
				<thead>
					<tr>
						<th>Course Code</th>
						<th>Course Name</th>
						<th>Action</th>
					</tr>
				</thead>

				<tbody>
					<tr th:if="${instructorAndTaCourse.empty}">
						<td colspan="2">No Course found</td>
					</tr>

					<tr th:each="course : ${instructorAndTaCourse}">
						<td><span th:text="${course.courseCode}"> Course Code
						</span></td>
						<td><span th:text="${course.courseName}"> Course Name
						</span></td>
						<td>
							<form method="POST" th:action="@{/course-admin-home}">
								<input type="hidden" name="name" id="name"
									th:value="${course.courseName}" />
								<input type="hidden"
									name="code" id="code" th:value="${course.courseCode}" />
									
								<input type="hidden"
									name="id" id="id" th:value="${course.courseId}" />

								<button type="submit" name="submit" value="value"
									class="link-button">View Course</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</body>
</html>
