<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />

    <style>
      body {
        font-family: Arial, Helvetica, sans-serif;
      }

      .material-icons.md-light {
        color: rgba(255, 255, 255, 1);
      }

      .material-icons {
        display: inline-flex;
        vertical-align: middle;
      }

      .material-icons.md-blue {
        color: rgb(0, 118, 255);
      }
    </style>

    <title>Course Admin</title>
  </head>

  <body>
    <div style="text-align: center; margin-top: 50px;">
      <h1>Course Admin</h1>

      <hr />
    </div>

    <div
      style="
        border-radius: 5px;
        border: thin;
        margin-top: 30px;
        display: inline-block;
        border-style: dashed;
        padding-left: 10px;
        padding-right: 50px;
        margin-left: 30px;
      "
    >
     <form action="#" th:action="@{/course-admin}" method="POST">
       <input
         type="hidden"
         name="id"
         id="id"
         th:value="${id}"/>

      <input
		type="hidden"
        name="name"
        id="name"
        th:value="${name}"/>

       <input
         type="hidden"
         name="code"
         id="code"
         th:value="${code}"/>
     
      <button
        style="
          margin-top: 20px;
          border-radius: 5px;
          background-color: rgb(0, 118, 255);
          border-width: 0px;
          padding-left: 15px;
          padding-right: 15px;
          padding-top: 5px;
          padding-bottom: 5px;
          color: white;
        "
      >
        <i class="material-icons md-light">settings</i>
        <b>View Course Page</b>
      </button>
	</form>
    
      <p>Import Student CSV and TA's enrollment.</p>
    </div>
  </body>
</html>
