<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
<meta charset="ISO-8859-1">
<title>Group Formation Tool</title>
<style type="text/css">
	.home-buttons{
	display:inline-block;
	}
	.home-page{
		margin-top: 50px;
		text-align:center;
	}
</style>
</head>
<body>
	<div class= "home-page">
		<h2>
		Group formation Tool
		</h2>
		<div class= "home-buttons">
			<form th:action="@{/signup}" method="get">
				<span><button type=" button " class="btn btn-primary">Sign up </button></span>
			</form>	
		</div>
		<div class= home-buttons>
			<form th:action="@{/login}" method="get">
				<span><button type=" button " class="btn btn-primary">Login</button></span>
			</form>	
		</div>
	</div>
</body>
</html>