<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <title>Project</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
<h1>Login</h1>
	<form action="#" th:action="@{/login}" method="post" th:object="${user}"> 
		<div class="form-group row">
			<label class="col-sm-2">Email</label>
			<span class="col-sm-4"><input type="email" th:field ="*{email}"></span>
		</div>
		<div class="form-group row">
			<label class="col-sm-2">Password</label>
			<span class="col-sm-4"><input type= "password" th:field="*{password}"></span>
		</div>
		<div><button type="submit" class="btn btn-primary">Submit</button></div>
		<br>
		<div>
			<a href=#>Forgot Password</a><br>
			<a th:href="@{signup}">Don't have an account? Register here</a>
		</div>
	</form>
	<div th:if ="${error}">
			<h2 th:text ="${error}"></h2>
		</div>
</div>
</body>
