<html>
<head></head>
<body>
    <div style="margin-top: 200px; align-content: center; text-align: center;">
        <form method="POST" th:action="@{/upload-csv}" enctype="multipart/form-data">
        
        <input
        	type="hidden"
       	 	name="id"
         	id="id"
         	th:value="${id}"/>

      	<input
			type="hidden"
        	name="name"
        	id="name"
        	th:value="${name}"/>

       <input
         	type="hidden"
         	name="code"
         	id="code"
         	th:value="${code}"/>
        
            <div style="align-content: center;">
                <label style="font-size: 30px;" for="file">Select a CSV file</label>
                <br>
                <input style="margin-top: 40px; margin-bottom: 90px; border: 3px solid grey;" type="file" name="file" id="file" accept=".csv">
            </div>
            <button style="background-color: dodgerblue; border-radius: 12px; color: white; font-size: 15px; padding: 15px; border: none; text-decoration: none;" type="submit">Import Student(s)</button>
        </form>
    </div>
</body>
</html>