<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Question-Answer Status</title>
</head>
<body>
	<ul lang="en" th:replace="fragments/course-header :: course-header"></ul>
	<div class="container center-text">
		<div class="page-block">
			<h2>Status</h2>
			<p class="qna-msg" th:text="${questionAnswerStatus}"/>
		</div>
		<div>
			Back to <a class="nav-btn back-btn" th:href="@{/question-manager/home}">Question Manager</a>
		</div>
	</div>
</body>
</html>